__pycache__
.env
.idea
.vs
.vscode

CMakeCache.txt
CMakeFiles/
Makefile
Observado
Observado_autogen/
cmake_install.cmake

CMakeLists.txt.user
CMakeSettings.json
cmake-build-*
out

/data/midi/*
/data/models/*
/data/waves/*
/data/features/*

!/data/midi/.gitkeep
!/data/models/.gitkeep
!/data/waves/.gitkeep
!/data/features/basic.csv